<h1> Cadastrar nova Conquista</h1>
<form action="/jogos/{{jogo.id}}/novaConquista" method="post">

  <div>
    <label for="numero">Título</label>
    <input
      type="text"
      maxlength="50"
      minlength="50"
      id="numero"
      name="numero"
    />
  </div>
  <div>
    <label for="nome">Descrição da sua conquista</label>
    <input type="text" id="nome" name="nome" maxlength="20" />
  </div>

  <input type="submit" value="Cadastrar" />

</form>